@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">@ViewBag.Title</h1>
    <h1 class="display-4">@ViewBag.TitleMessage</h1>
    <h4 class="font-monospace">This is the Home page!</h4>
</div>
